@tailwind base;

@font-face {
  font-family: "S-CoreDream";
  src: url("./assets/fonts/SCDream1.otf") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream";
  src: url("./assets/fonts/SCDream2.otf") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream";
  src: url("./assets/fonts/SCDream3.otf") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream";
  src: url("./assets/fonts/SCDream4.otf") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream";
  src: url("./assets/fonts/SCDream5.otf") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream";
  src: url("./assets/fonts/SCDream6.otf") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream";
  src: url("./assets/fonts/SCDream7.otf") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "S-CoreDream";
  src: url("./assets/fonts/SCDream8.otf") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "S-CoreDream";
  src: url("./assets/fonts/SCDream9.otf") format("woff");
  font-weight: 900;
}

@tailwind components;
@tailwind utilities;
